
/* Your CSS Code here. */
table{
    border-collapse: collapse;
    height: 150px;
    text-align: center;
    width: 400px;
}
th ,td{
    width: 70px;
    border: 2px solid black;
}
.listitem{
    width: 300px;
}
img{
    height: 170px;
}
